:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgba(238, 76, 43, 0.829);
    --border-color: #dbdbdb;
    --grow-from: 0;
    --grow-to: 1;
    --header-height: 120px;
    --navbar-height: 43px;
    --searchbar-height: calc(var(--header-height) - var(--navbar-height));
}

body {
    background-color: #dbdbdba2;
}

*{
    box-sizing: inherit;
}

html {
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1800px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes Grow {
    from{
        opacity: var(--grow-from);
        transform: scale(var(--grow-from));
    }
    to{
        opacity: var(--grow-to);
        transform: scale(var(--grow-to));
    }
}

.modal {
    position: fixed;
    right: 0; top: 0; bottom: 0; left: 0;
    display: flex;
    animation: fadeIn linear .2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 2;
    animation: Grow linear .1s;
}

/* Button size */
.btn {
    min-width: 150px;
    min-height: 30px;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0;
    font-size: 2rem;    
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
}

.btn.btn--normal {
    min-width: 150px;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 2rem;    
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    color: #dbdbdb;
    cursor: default;
    background-color: gray;
}

.btn--normal:hover, .btn--primary:hover {
    color: rgba(210, 210, 210, 0.8);
    cursor: pointer;
}

.btn.btn--size-s {
    vertical-align: middle  ;
    height: 35px;
    font-size: 1rem;
    padding: 6px 8px;
    text-align: center;
}

.btn--with-icon {
    text-decoration: none;
}