/* Navigation bar */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    padding: 0 20px;
}
        /* Align item on nav bar */
.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between ;
}

.navbar__list {
    display: flex;
    margin-top: 10px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.navbar__item {
    margin: 0 0.4rem;
    position: relative;
    display: flex;
}

            /* Decorate the items */
.navbar__item, .navbar__item-link {
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

            /* hover effect */
.navbar__item:hover, .navbar__item-link:hover ,.navbar__icon-link:hover {
    color: rgba(250, 250, 250, 0.6);
    cursor: pointer;
}


            /* Bold the sign up/sign in method */ 
.navbar__item--strong {
    font-weight: 600;
}

            /* Create a tiny separate*/
.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff;
    height: 14px;
    right: -4px;
    top: 30%;
    transform: translateY(-50%);
}

.navbar__user {
    position: relative;
}

.navbar__user-img {
    line-height: 1rem;
    margin-top: -4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.navbar__user-name {
    margin: 0 8px 0 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__user-menu {
    position: absolute;
    padding-left: 0;
    top: 140%;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.navbar__user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-item {
    padding: 12px 16px;
}

.navbar__user-item:hover {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(210, 210, 210, 0.5);
}

.navbar__user-item a{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

.navbar__user-item:last-child a{
    color: var(--primary-color);
}

.navbar__user-menu::before {
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -20px;
    z-index: 0;
}

.navbar__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 120px;
    height: 30px;
}


            /* Decorate icon link (fb and twit) */
.navbar__icon-link {
    font-size: 1.6rem;
    color: var(--white-color);
}

.navbar__icon-img {
    margin: 0 3px;
}

    /* QR code */

.header__qr {
    width: 190px;
    position: absolute;
    top: 160%;
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .2s;
    z-index: 1;
}

.header__qr::after {
    content: " ";
    width: 190px;
    height: 100px;
    position: absolute;
    top: -10px;
}

.navbar__item-qr:hover .header__qr {
    display: block;
}

.header__qr-img {
    width: 100%;
    border-radius: 2px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4px;
}

.header__qr-down {
    display: inline-block;
    height: 18px;
}

    /* Popup */

.popup__noti {
    position: absolute;
    right: 0;
    top: 150%;
    width: 500px;    
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: popupNotiGrow ease-in .25s;
    display: none;
    will-change: opcacity, transform;
    z-index: 1;
}

.popup__noti::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 0;
    top: -25px;
    z-index: 10000;
}

.popup__noti::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 120px;
    height: 30px;
}

@keyframes popupNotiGrow {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.popup__noti-header {
    height: 40px;
    background-color: var(--white-color);
}

.popup__noti-header h3 {
    user-select: none; /* Đối với 1 số trình duyệt, phải sử dụng phương thức riêng ví dụ như: -webkit-user-select*/
    line-height: 40px;
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 2rem;
}

.popup__noti-list {
    padding-left: 0;
    list-style: none;
}

.popup__noti-item {
    display: flex;
    margin: 0;  
}

.popup__noti-item--viewed{
    background-color: rgba(238, 75, 43, 0.09);
    margin: 0;  
}

.popup__noti-item:hover{
    background-color: rgba(60, 75, 43, 0.06);
}

.popup__noti-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;

}

.popup__noti-img {
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.popup__noti-info{
    flex: 1;
}

.popup__noti-name {
    display: block;
    font-size: 2rem;
    color: var(--black-color);
    margin-bottom: 10px;
    font-weight: bold;
}

.popup__noti-desc {
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--text-color);
}

.popup__noti:hover .popup__noti-info {
    background-color: rgba(250, 250, 250, 250, 0.8);
}   

.popup__noti-footer {
    background-color: rgba(211, 211, 211);
    text-align: center;
    /* display: flex; Can change to display: flex and using margin: auto*/
}

.popup__noti-footer-btn {
    background-color: rgba(211, 211, 211, 0.5);
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem 0;
    margin: auto; 
    display: block;
    font-weight: 600; /* Margin: auto */
}

.navbar__item--popup:hover .popup__noti {
    display: block;
}

    /* Auth form*/
.auth-form {
    width: 700px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: auto;
}

.auth-form__header{
    margin: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 400;
}

.auth-form__switch-btn {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500;
}

.auth-form__switch-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.auth-form__group {
    margin: 0 28px;
    display: flex;
    flex-flow: wrap column;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 8px;
    font-size: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline-color: lightblue;
}

.auth-form__policy-check {
    margin: 0 28px;
    font-size: large;
    display: block;
    margin-top: 20px;
    margin-bottom: 24px;
}

.auth-form__footer {
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.auth-form__policy-note {
    line-height: 3rem;
    font-size: 2rem;
}

.auth-form__policy-link {
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin: 30px 28px;
    display: flex;
    justify-content: right;
}

.auth-form__controls--pull {
    margin-right: 30px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 12px 0;
    background-color: #d3d3d3;
}

.auth-form__socials-icon {
    font-size: 1.5rem;
    vertical-align: middle;
}

.auth-form__socials--facebook {
    margin: auto 15px;
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--google {
    margin: 15px;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 10px;
}

.auth-form__socials--google
.auth-form__socials-icon {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 10px;
}

.auth-form__socials-title {
    line-height: 2.5rem;
    font-size: 1.5rem;
    color: var(--white-color);
    margin: 15px 36px;
}

.auth-form__help {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 16px;
}

.auth-form__help-link--primary {
    color: #f53e2d;
}

    /* Search bar */
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--searchbar-height);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-img {
    width: 170px;
    height: 50px
}

header__logo-link {
    text-decoration: none;
}

.header__search {
    flex: 1;
    left: 15%;
    display: flex;
    height: 40px;
    background-color: var(--white-color);
    align-items: center;
    margin-top: 8px;
}

.header__search-input {
    font-size: 1.6rem;
    color: var(--text-color);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    border: none;
    outline: none;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-his {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white-color);
    width: 70%;
    line-height: 1.4rem;
    display: none;
}

.header__search-his-head {
    font-size: 1.8rem;
    padding: 6px 8px;
    color: var(--text-color);
    opacity: 0.8;
    margin: 0;
    font-weight: 400;
    border-bottom: 1px solid #d3d3d33b;
}

.header__search-his-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__search-his-item {
    height: 38px;
    font-size: 1.6rem;
    padding: 0 8px;
}

.header__search-his-item:hover {
    background-color: #d3d3d35f;
    cursor: pointer;
}

.header__search-his-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
}

.header__search-input:focus ~ .header__search-his {
    display: block;
}


.header__search-selection {
    position: relative; 
    display: flex;
    text-align: right;
    height: 30px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #66666693;
    cursor:pointer;
    background-color: #fff;
}

.header__search-selection:hover {
    color: #313030c3;
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-selection-label {
    font-size: 1.4rem;
    padding-right: 8px;
}

.header__search-selection-icon {
    margin-top: 3px;
    margin-right: 3px;
    font-size: 1.2rem;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    border-radius: 2px;
    margin-right: 3px;
    width: 70px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: rgba(238, 76, 43, 0.7);
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    list-style: none;
    padding-left: 0;
    display: none;
    box-shadow: 0 0 3px #ccc;
    animation: fadeIn ease-in .1s;
}

.header__search-option-item {
    background-color: var(--white-color);
    font-size: 1.4rem;
    padding: 8px 8px;
    text-align: left;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option::before {
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 20px;
    content: "";
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: left;
}

.header__search-option-item i {
    margin-left: 4px;
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

/* Header Cart */

.header__cart {
    flex: 0.05;
    padding: 0 40px;
    display: flex;
    justify-content: center;
}

.header__cart-list {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 1px 3.25rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: Grow linear .1s;
    cursor: default !important;
}


            /* Cart list when empty */
.header__cart-list-no-cart {
    padding: 30px 0;
}

.header__cart-wrap {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px;
}

.header__cart-icon {    
    margin-top: 12px;
    font-size: 3rem;
    color: var(--white-color);
}

.header__cart-list-no-cart-img {
    padding: 10px;
    display: block;
    margin-left: 100px;
    width: 50%;
}

.header__cart-list-no-cart-text {
    display: block;
    line-height: 2rem;
    margin-top: 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
    cursor: pointer;
}

.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -25px;
    border-width: 15px 25px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.header__cart-list::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -25px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

            /* Cart list when not empty*/
.header__cart-notice {
    position: absolute;
    top: 5px;
    right: -10px;
    padding: 2px 8px;
    line-height: 1.4rem; 
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 50%;
    border: 2px solid #f53e2d;
}

.header__cart-head {
    text-align: left;
    font-size: 2rem;
    color: #999;
    line-height: 2rem;
    font-weight: 400;
    margin-left: 12px;
}


.header__cart-item-list {
    padding-left: 0;
    list-style: none;

}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 0;
}


.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-times {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-quanti {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desc {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-viewcart {
    display: flex;
    justify-content: center;
    float: right;
    margin: 0 12px 12px 0;
}

/* App container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 24px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 14px 12px 14px 20px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
    margin-bottom: 0;
    margin-top: 0;
}

.category__heading-icon {
    margin-right: 4px;
}

.category-list {
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
}

.category-item {
    padding: 10px 0px;
    font-size: 1.4rem;
}


.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 20%;
    left: -12px;
    content: "";
    color: var(--primary-color);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    margin-left: 20px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 550;
    transition: right linear 0.1s;
    right: 0;
}

.home-filter {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.home-filter__label {
    padding: 12px 22px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
}

.home-filter__btn {
    min-width: 150px;
    margin-right: 12px;
    min-height: 10px;
}

.home-filter__btn:hover .home-filter__btn-link{
    color: rgba(238, 75, 42, 0.8);
}

.home-filter__btn-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

#chosen {
    color: var(--white-color);
}

.select-price {
    position: relative  ;
    margin-left: -200px;
    line-height: 2rem;
    background-color: var(--white-color);
    font-size: 1.6rem;
}

.select-price__selection {
    min-width: 200px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-price:hover {
    cursor: pointer;

}

.select-price__label {
    margin-top: 2px;
    margin-left: 8px;
}

.select-price__icon {
    margin-right: 15px;
}

.select-price__list {
    list-style: none;
    padding-left: 0;
    line-height: 2rem;
    position: absolute;
    right: 0;
    min-width: 200px;
    background-color: var(--white-color);
    display: none;
}

.select-price__list::after {
    content: "";
    width: 100%;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: -20%;
}

.select-price__items {
    padding: 12px 10px;
}

.select-price__items:hover {
    background-color: rgba(210, 210, 210, 0.6);
    cursor: pointer;
}

.select-price__link {
    text-decoration: none;
    color: var(--text-color);
}


.select-price:hover .select-price__list {
    display: block;
    cursor: default;
}

.home-filter__page {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-filter__page-number {
    margin-left: 40px;
    font-size: 2rem;
    min-width: 100px;
}

.home-filter__page-current {
    color: var(--primary-color);
    margin: 0 6px;
}

.home-filter__page-select {
    display: flex;
    min-width: 80px;
    margin-right: 10px;
    border-radius: 2px;
    overflow: hidden;
    justify-content: space-between;
}

.home-filter__page-btn{
    font-size: 3rem;
    display: inline-block;
    background-color: var(--white-color);
    text-align: center; 
    line-height: 2.5rem;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.home-filter__page-btn:hover {
    background-color: rgba(238, 76, 43, 0.7);
}

.home-filter__page-btn--disable {
    background-color: rgba(255, 255, 255, 0.4);
}

.home-filter__page-btn--disable:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: default;
}

.home-filter__page-btn:first-child(1){
    border-right: 1px solid #ccc;
}